<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @salesman.name %>
</p>

<p>
  <b>Age:</b>
  <%= @salesman.age %>
</p>

<p>
  <b>Email:</b>
  <%= @salesman.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @salesman.phone %>
</p>

<p>
  <b>Cellphone:</b>
  <%= @salesman.cellphone %>
</p>

<p>
  <b>City:</b>
  <%= @salesman.city_id %>
</p>


<%= link_to 'Edit', edit_salesman_path(@salesman) %> |
<%= link_to 'Back', salesmen_path %>
