<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.association :supplier %>
    <%= f.association :category %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

